:root {
  /* color palette */
  --pblack: #333333;
  --pdarkgrey: #707070;
  --plightgrey: #EDECE8;
  --pblue: #62B5E5;
  --plavender: #BF9BDE;
  --pgreen: #CFE89C;
  --pwhite: #dddddd;
/* example how to reference:
  background-color: var(--pgreen) */
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:var(--plightgrey);
  color: white;
  text-align: center;
}

#headertitle {
  color: var(--plightgrey);
}

.Header {
  background-color: var(--pblue);
  width: 100%;
}

.medtable{
  width: 100%;
}

.meddetailsbtn {
  background-color: var(--plavender);
}



.medlistkey {
  text-align: center;
  /* background-color: var(--plightgrey); */
}

.medlistkeyrow {
  background-color: var(--plightgrey);
}

#newmedlabel{
  color: var(--plavender);
}
.medlist{
  background-color: var(--pwhite);
}

.newmedbtn {
  background-color: var(--pgreen);
}













