:root {
  /* color palette */
  --pblack: #333333;
  --pdarkgrey: #636363;
  --plightgrey: #EDECE8;
  --pblue: #62B5E5;
  --plavender: #BF9BDE;
  --pgreen: #CFE89C;
  --pwhite: #fcfcfc;
/* example how to reference:
  background-color: var(--pgreen) */
}
body {
  color: var(--pdarkgrey);
  background-color: var(--pwhite);
  box-sizing: border-box;
}

input, textarea, select, option {
  background-color: var(--pwhite);
}

i {
  font-size: 1.2em;
  margin: 0 5px;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.meddetaildrugtitle{
  color: var(--pdarkgrey);
}

.meddetailitem{
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 10px;
  padding: 20px;
}

.meddetailitemtitle{
  color: var(--plavender);
}

.meddetailitemtext{
  color: var(--pdarkgrey)
}





