:root {
  /* color palette */
  --pblack: #333333;
  --pdarkgrey: #636363;
  --plightgrey: #EDECE8;
  --pblue: #62B5E5;
  --plavender: #BF9BDE;
  --pgreen: #CFE89C;
  --pwhite: #fcfcfc;
  --pred: #c7412d;
/* example how to reference:
  background-color: var(--pgreen) */
}

input, textarea, select, option {
  background-color: var(--pwhite);
}

hr {
  color: yellow;
}

i {
  font-size: 1.2em;
  margin: 0 5px;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

/* #newmedlabel{
  color: var(--plavender);
} */





