body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
  color: inherit;
}

.row, .column {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex-direction: column;
  flex-wrap: nowrap;
}

.y-center {
  align-items: center;
}

.x-center {
  justify-content: center;
}

.split {
  justify-content: space-around;
}

.sticky {
  position: fixed;
  z-index: 1;
  top: 0;
}