.schedule {
    max-width: 50vw;
    min-width: 300px;
}

.scheduleheader {
    color: var(--plavender);
    text-align: center;
}

.timeheader {
    background-color: var(--pdarkgrey);
    border-radius: 8px;
    color: white;
    margin-bottom: 15px;
    margin-top: 15px;
}

.timeheader-time {
    padding: 10px 20px;
}

.doseitem{
    margin: 10px 0px 10px 40px;
    color: (var(--pdarkGrey))
}