.scheduleheader {
    color: var(--plavender);
    margin-left: 10px;
}

.timeheader {
    background-color: var(--pdarkgrey);
    color: white;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.doseitem{
    padding: 10px;
    color: (var(--pdarkGrey))
}