.app-header {
    width: 100%;
    /* height: 100px; */
    background: linear-gradient(115deg, white, var(--pblue) 20%);
    color: white;
}
.app-header > span {
    padding: 20px;
}
.app-header-logo {
    margin-left: 20px;
    margin-right: auto;
    font-family: 'Arbutus Slab', cursive;
}

.app-header-logo-img {
    height: 50px;
    width: auto;
    margin: 0 30px;
}



.app-header-logout-btn, .app-header-settings {
    cursor: pointer;
}

.app-header-email, .app-header-log {
    margin-right: 20px;
}

@media screen and (max-width: 650px) {
    .app-header-email, .app-header-log, .setting-text {
        display: none;
    }
    .app-header-settings {
        padding-right: 15px;
    }
}